<template>
  <b-modal id="cartModal" ref="modal" size="lg" @hide="onModalHide" hide-footer>
    <template slot="modal-header-close"><Icon name="close"></Icon></template>
    <template slot="modal-title">Shopping Cart</template>
    <b-container fluid>
      <div v-if="!cart.length" class="alert alert-danger">There are no items in your cart currently.</div>
      <b-list-group class="mb-10">
        <template v-for="item in cart">
          <b-list-group-item class="cart-item">
            <b-row>
              <b-col cols="8">{{item.full_name}}</b-col>
              <b-col cols="4">
                <button class="btn btn-danger" @click.prevent="removeItem(item)">Remove</button>
              </b-col>
            </b-row>
<!--             <b-collapse :id="id" v-model="isOpen" class="m-1">
              <div v-html="data.body"></div>
            </b-collapse> -->
          </b-list-group-item>
        </template>
      </b-list-group>
      <button class="btn btn-danger float-right" @click.prevent="hideModal">Close</button>

    </b-container>
  </b-modal>
</template>

<script>
  import bus from '../bus';
  import 'vue-awesome/icons/close';

  import Icon from 'vue-awesome/components/Icon.vue';
  import bModal from 'bootstrap-vue/es/components/modal/modal';
  import bContainer from 'bootstrap-vue/es/components/layout/container';
  import bListGroup from 'bootstrap-vue/es/components/list-group/list-group';
  import bRow from 'bootstrap-vue/es/components/layout/row';
  import bCol from 'bootstrap-vue/es/components/layout/col';
  import bCollapse from 'bootstrap-vue/es/components/collapse/collapse';
  import bListGroupItem from 'bootstrap-vue/es/components/list-group/list-group-item';
  export default {
    name: 'CartModal',
    components: {
      Icon,
      'b-modal': bModal,
      'b-container': bContainer,
      bListGroup,
      bRow,
      bCol,
      bCollapse,
      bListGroupItem
    },
    props: {
      cart: {
        type: Array,
        default: []
      }
    },
    methods: {
      hideModal () {
        this.$refs.modal && this.$refs.modal.hide();
      },
      onModalHide () {
        
      },
      removeItem(item) {
        bus.$emit('item-removed-from-cart', item);
      }
    }
  };
</script>
