<template>
  <div>
    <b-navbar toggleable="md" type="dark" variant="info">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-navbar-brand href="#">Hot Offers in Toys</b-navbar-brand>
      <b-collapse is-nav id="nav_collapse">
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown right>
            <!-- Using button-content slot -->
            <template slot="button-content">
              <em>Sort</em>
            </template>
            <template v-for="item in sort">
              <b-dropdown-item href="#" @click.prevent="sortKeyUpdated(item.key)">{{item.value}}</b-dropdown-item>
            </template>
          </b-nav-item-dropdown>
          <b-nav-item v-b-modal.cartModal>
            <Icon name="shopping-cart" scale="2"></Icon>
            <b-badge variant="danger">{{cart.length}}</b-badge>
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <cart-modal :cart="cart" />
  </div>
</template>
<style lang="scss">

</style>
<script>
import bus from '../bus';
import 'vue-awesome/icons/shopping-cart';

import Icon from 'vue-awesome/components/Icon.vue';
import bBadge from 'bootstrap-vue/es/components/badge/badge';
import cartModal from './cartModal.vue';
import vBModal from 'bootstrap-vue/es/directives/modal/modal';

export default {
  name: 'Header',
  data () {
    return {
      cart: [],
      sort: [{
        key: '',
        value: 'Relevance'
      }, {
        key: 'discount',
        value: 'Discount'
      }, {
        key: 'new',
        value: 'Newest'
      }, {
        key: 'popular',
        value: 'Popularity'
      }, {
        key: 'price_asc',
        value: 'Lowest Price First'
      }, {
        key: 'price_desc',
        value: 'Highest Price First'
      }]
    }
  },
  directives: {
    vBModal
  },
  mounted () {
    const that = this;
    bus.$on('item-added-to-cart', (item) => {
      that.cart.push(item);
    });
    bus.$on('item-removed-from-cart', (product) => {
      let toBeRemoved;
      that.cart.map((item, index) => {
        if(item.id === product.id) {
          toBeRemoved = index;
        }
      });
      if (toBeRemoved || toBeRemoved === 0) {
        that.cart.splice(toBeRemoved, 1);
      }
    });
  },
  components: {
    Icon,
    bBadge,
    cartModal
  },
  methods: {
    sortKeyUpdated (key) {
      bus.$emit('sort-key-updated', key);
    }
  }
}
</script>
