<template>
  <div class="products">
    <v-infinite-scroll :loading="loading" @top="prevPage" @bottom="nextPage" :offset='20' style="max-height: 95vh; overflow-y: scroll;">
      <b-card-group columns>
        <b-card v-for="item in list" :key="item.id">
          <div class="offer">
            <b-badge variant="danger" href="#">Offer</b-badge>
            <span>{{calcDiscountPercent(item.defaultVariant.mrp, item.defaultVariant.discount)}} %</span>
          </div>
          <b-row>
            <b-col class="col-sm-12 col-md-6">
              <b-card-img class="products__img"
                          :src="getImageUri(item.images[0])"
                          image-alt="No image available"
                          img-fluid>
              </b-card-img>
            </b-col>
            <b-col class="col-sm-12 col-md-6">
              <div class="add-to-cart text-center">
                <template v-if="item.defaultVariant.stock">
                  <b-button variant="success" @click.prevent="addToCart(item)">Add to cart</b-button>
                </template>
                <template v-else>
                  <b-badge variant="info" :disabled="true">Out Of Stock</b-badge>
                </template>
                <div class="mrp">{{item.defaultVariant.currency}} {{item.defaultVariant.mrp}}</div>
                <div>{{item.defaultVariant.mrp - item.defaultVariant.discount}}</div>
              </div>
            </b-col>
          </b-row>
          <template slot="footer">
            <div class="products__footer">
              <div>{{item.full_name}}</div>
            </div>
          </template>
        </b-card>
      </b-card-group>
    </v-infinite-scroll>

  </div>
</template>
<style lang="scss">
  .products {
    .card-img {
      width: 140px;
      height: 140px;
      text-align: center;
    }
    .card-footer {
      height: 60px;
      padding: 5px;
      font-size: 12px;
      text-align: center;
    }
    .mrp {
      text-decoration: line-through;
      opacity: 0.75;
    }
  }
</style>
<script>
import api from '../api';
import bus from '../bus';

import InfiniteScroll from 'v-infinite-scroll';
import 'v-infinite-scroll/dist/v-infinite-scroll.css';
import bCardGroup from 'bootstrap-vue/es/components/card/card-group';
import bCardImg from 'bootstrap-vue/es/components/card/card-img';
import bCard from 'bootstrap-vue/es/components/card/card';
import bBadge from 'bootstrap-vue/es/components/badge/badge';
import bRow from 'bootstrap-vue/es/components/layout/row';
import bCol from 'bootstrap-vue/es/components/layout/col';
import bButton from 'bootstrap-vue/es/components/button/button';

import sampleData from '../discount.json';

export default {
  name: 'Products',
  data () {
    return {
      list: [],
      page: 1,
      loading: false,
      sort: ''
    }
  },
  components: {
    bCard,
    bCardImg,
    bCardGroup,
    bBadge,
    bButton,
    'v-infinite-scroll': InfiniteScroll
  },
  mounted () {
    const that = this;
    this.fetchData();
    bus.$on('sort-key-updated', function (key) {
      if (that.sort !== key) {
        that.sort = key;
        that.page = 1;
        that.fetchData();
      }
    });
  },
  methods: {
    fetchData () {
      api.fetchData({page: this.page, sort: this.sort})
      .then(res => {
        if (res.data && res.data.length === 3) {
          this.list = res.data[1].data.products;
          // this.list.concat(res.data[1].data.products);
          this.loading = false;
        }
      })
      .catch(e => {
        // Couldn't fetch data from api
        // Fake populate data, I have bad internet in train :-(
        // this.list = discount[1].data.products;
        throw e;
      })
    },
    prevPage () {
      if (this.page == 1) return
      --this.page;
      this.fetchData();
    },
    nextPage () {
      ++this.page;
      this.fetchData();
    },
    getImageUri (uri) {
      return `https:${uri}`;
    },
    calcDiscountPercent (mrp, discount) {
      return Math.ceil(discount * 100 / mrp);
    },
    calcPrice (mrp, discount) {
      return mrp - discount;
    },
    addToCart (item) {
      bus.$emit('item-added-to-cart', item);
    }
  }
}
</script>
